/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 18, 2015, 5:30:14 PM
    Author     : Pinkesh
*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.top {
    position: relative;
    top: 0em;
    background-color: lightgray;
    height: 8%;
    width: 100%
}

.top_ {
    position: relative;
    background-color: lightgray;
}

.top span{
    position: relative;
    color: green;
    text-align: left;
    vertical-align: middle;
    width: 60%;
    display: inline-block;
    font-size: 24px
}

.topOfBox {
    position: relative;
    top: 0em;
}

.bottom {
    position: absolute;
    bottom: 0em;
    background-color: #ff6666;
    height: 8%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 24px
}

.bottom span{
    margin-top: 1em;
    color: white
}

.top_box {
    display: inline-block;
    background-color: lightgray;
    width: auto;
    height: auto;
    margin: 1em;
}

a, u {
    text-decoration: none;
}

a:hover {
    font-style: oblique
}

.div_image {
    position: absolute;
    top:20%;
    left: 25%;
    height: 50%;
    text-align: center;
    vertical-align: middle
}

.admin_image {
    position: absolute;
    top:35%;
    left: 25%;
}

.centered {
    position: absolute; 
    top: 50%;
    left: 50%;
}

.centere_top {
    position: relative; 
    left: 35%;
}

ul {
list-style-type: none;
}

.button {
    border: 1px solid #325b8a;
    background: #9999ff;
    padding: 10px 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #ffffff;
    font-size: 14px;
    vertical-align: middle;
    cursor:  pointer
}
.button:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}

.inline{
    display: inline-block;
    width: 35%;
    vertical-align: central;
}


.login_center {
    position: absolute;
    top:30%;
    left: 30%;
}

.login_input {
    padding: 10% 10% 10% 10%
}

.signup_input {
    padding: 2% 2% 2% 2%
}

.signup_center {
    position: absolute;
    left: 35%;
}

.about_center {
    position: absolute;
    padding: 1%;
    top:20%;
    left: 20%;
}

.side_bck {
    background-color: lightblue;

}

.side_left {
    position: absolute;
    display: inline-block; 
    top: 15%;
    width: 41%;
    height: 60%;
}

.side_left2 {
    position: absolute;
    display: inline-block; 
    top: 10%;
    width: 40%;

}

.side_menu_items{
    position: relative;
    list-style-type: none;
    height: 100%;
    width: 40%;
    color: white;
}
.side_menu_items li{
    background-color: #e8eef8;
    border: 1px solid #93afd8;
    height: 20%;
    width: 100%;
    font-size: 150%;
    padding:3%; 
    color: #e8eef8;
}

.side_menu_items li a{
    color: black;
    padding-left: 4%;  
}

.side_right {
    position: absolute;
    display: inline-block; 
    width: 60%;
    left: 25%;
    top: 15%;
}

.main_para{
    border: 1px solid #93afd8;
    padding: 2%;
}

.top_page {
    position: relative;
    float: left;
    padding:3%; 
    width: 100%;
    border: 3px solid white;
    white-space:nowrap;
}

.top_breadcrum {
    position: relative;
    float: left;
    padding:3%; 
    display: inline;
    white-space:nowrap;
}

.bck_grey{
    background-color: lightgray;
    padding: 2%;
}

.text_150{
    font-size: 150%;
}

.width_100{
    width: 100%;
}

.pad_3{
    padding: 3%;
}

.pad_left_3{
    padding-left: 3%;
}

.pad_5{
    padding: 30%;
}
.table{
    width: 100%
}
.table thead th{
    background: black;
    color: white;
    padding: 1%;
    text-align: center;
    top : 0px;
    left : 0px; 
    max-width:100%;

}

.table tfoot tr:nth-child(even) {
    background: lightgray;

    text-align: center;
    height: 30px;
    max-width:100%;
    white-space:nowrap;
}
.table tfoot tr:nth-child(odd) {
    position: relative;
    background: #efefef;
    text-align: center;
    height: 30px;
    max-width:100%;
    white-space:nowrap;
}
.table tfoot tr td {
    padding: 1%;
}
.centered_1 {
    position: relative; 
    margin-left:20%;
}

.button_study{
    width: 80%
}

.img_editstudy{
    width: 80%;
    height: 100%
}

.table_1{
    width: 100%
}
.table_1 thead th{
    background: black;
    color: white;
    padding: 1%;
    text-align: center;
    top : 0px;
    left : 0px; 
}

.table_1 tfoot tr:nth-child(even) {
    background: lightgray;
    padding: 2%;
    text-align: center;
    height: 20px;
}
.table_1 tfoot tr:nth-child(odd) {
    position: relative;
    background: #efefef;
    padding: 2%;
    text-align: center;
    height: 20px;
    width: auto;
}
.table_1 tfoot tr td {
    padding: 1%;
}
.div_image1 {
    position: relative;
    height:35px;
    width: 35px;
}

.div_image2{
    position: relative;
    height:100%;
    width:100%;
    right:25%;

}
.centered_2 {
    position: relative; 
    margin-left:20%;
    height:100%;
    top: 50%;
    display: inline-block;

}
.centered_3 {
    position: relative; 
    margin-left:40%;
    height:100%;
    top: 50%;
    display: inline-block;   
}

.msg_div {
    position: relative;
    padding: 1%;
    color: steelblue;
}

div.dataTables_wrapper {
    margin-bottom: 3em;
}

.hide{
    display:none;
}

.width_80 {
    width: 80%;
}

.graph_center {
    position: absolute;
    padding: 10%;
    top:30%;
    left: 20%;
}
